/*style*/
@font-face {
    font-family: 'becca & perry';
    src: url('becca_perry_script/becca_perry script.ttf') format('truetype');
}

h1, h2, h3, h4
{
	color: teal;
	font-family:'becca & perry';
}

h1, h4
{
	text-align: center;
}

h3, h4
{
	font-size: 1.4em;
}

h3, img
{
border: 4px teal ridge;
border-radius: 3px;
box-shadow: 2px 2px 4px black;
}

a
{
	color: #27707a;
}

a:visited
{
	color: teal;
}
a:hover
{
	color: aqua;
}

body
{
	background-image: url(fond2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	text-align: justify;
	color: white;
	font-family: sans-serif, serif;
}

.page
{
	display: flex;
}

/*liseré*/
aside
{
	background-image: url("ambre.jpg");
	border: 3px teal ridge;
	border-radius: 10px;
	max-width: 300px;
	height: 800px;
	flex: 1;
	margin-right: 20px;
}

aside h2
{
	font-size: 2em;
}

aside p, aside h2
{
	text-align: center;
}

/*information*/
.contenant
{
	flex: 2;
	background-color: rgba(0,0,0,0.5);
	border: 5px teal ridge;
	border-radius: 10px;
}

header h1
{
	font-size: 4em;
	text-shadow: 0px 30px 20px black;
}

img
{
	float: right;
	margin-right: 2%;
}

section
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

article
{
	width: 30%;
}

/*petite résolution*/

@media all and (max-width: 1024px)
{

	aside
	{
		display: none;
	}

	section
	{
		flex-direction: column;
		margin-top: 5%;
	}

	article
	{
		width: auto;
	}

	article h3
	{
		margin: auto;
		text-align: justify;
		width: 95%;
	}

	h4
	{
		font-size: 1.5em;
	}
}